<!doctype html>  
<html>  
   <body>  
      <h2 style = "text-align: center;">Registration Form</h2>  
          
      {% for message in form.name.errors %}  
         <div>{{ message }}</div>  
      {% endfor %}   -->
        
      {% for message in form.email.errors %}  
         <div>{{ message }}</div>  
      {% endfor %}  

      {% for message in form.address.errors %}  
         <div>{{ message }}</div>  
      {% endfor %} 

      {% for message in form.account_no.errors %}  
         <div>{{ message }}</div>  
      {% endfor %} 

      {% for message in form.destination_bank.errors %}  
         <div>{{ message }}</div>  
      {% endfor %} 

      {% for message in form.username.errors %}  
         <div>{{ message }}</div>  
      {% endfor %} 
      
      {% for message in form.password_hash.errors %}  
         <div>{{ message }}</div>  
      {% endfor %} 
      
      <form action = "/registerbureau" method = "POST"> 
        <fieldset>
        {{ form.hidden_tag() }}  
              
        <div style = "font-size:20px;" font-weight:bold; margin-left:130px;>  
           <br>  
           {{ form.name.label }}<br>
            {{ form.name }} 
            <br> 
           {{ form.address.label }}<br>  
           {{ form.address }}  
           <br>
           {{form.email.label}}<br>
           {{form.email}}
           <br>
           {{form.account_no.label}}<br>
           {{form.account_no}}
           <br>
           {{form.destination_bank.label}}<br>
           {{form.destination_bank}}
           <br>
           {{form.username.label}}<br>
           {{form.username}}
           <br>
           {{form.password_hash.label}}<br>
           {{form.password_hash}}
           <br>
           
           <br> 
           {{ form.submit }} <br> 
        </div>  
              
         </fieldset>  
      </form>  
   </body>  
</html>  
           