{% extends "layout1.html" %}

{% block pagestyles %}
  <link href="{{ url_for('static', filename='dist/css/account.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
  <div class="formwrapper">
    <form action = "/login" method = "POST">
      
      {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
           <strong style="color: red"> {{ message }} </strong>
        </div>
      {% endfor %}
      <h1><strong>Log In</strong></h1>
      <div class="username" style="color: rgb(10, 10, 10)">
         {{ form.username.label }}
         {{ form.username }}
         {% if form.username.errors %}
           <ul class="errors">
             {% for error in form.username.errors %}<li><strong style="color: red">{{ error }}</strong></li>{% endfor %}
           </ul>
         {% endif %}
      </div>
      <div class="password" style="color: rgb(10, 10, 10)">
        {{ form.password.label }}
        {{ form.password }}
        {% if form.password.errors %}
          <ul class="errors">
            {% for error in form.password.errors %}<li><strong style="color: red">{{ error }}</strong></li>{% endfor %}
          </ul>
        {% endif %}
      </div>
      {{ form.submit }}
      <div class="loginsignup">
        <span>Don't have an account? <a href="{{ url_for('auth.signup_page') }}">Sign up.</a><span>
          <br>
          <p><em>Forgot your password? </em><a href="/reset">Click Here!</a></p>
        </div>
    </form>
  </div>
{% endblock %}
