{% extends "dashboard/base.html" %}
{% from "/includes/_formhelpers.html" import render_field %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="card" style="height:100%;background-color:rgba(255, 255, 255, 0.753)">
<div class="add-recipe">
  <div class="page-header">
    <h2>Email Address:</h2>
  </div>
  <form action="{{ url_for('users.reset') }}" method="POST">
    {{ form.csrf_token }}
    <dl>
      {{ render_field(form.email, placeholder="Enter Email Address") }}
    </dl>
    <button class="btn btn-sm btn-success" type="submit">Submit</button>
  </form>
</div>
</div>
</div>
</div>
{% endblock %}