{% extends "dashboard/base.html" %}
{% from "/includes/_formhelpers.html" import render_field %}
{% block body %}
<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card" style="height:100%;background-color:rgba(255, 255, 255, 0.753)">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Send Your Email</h4>
              <p class="card-category"></p>
            </div>
            <div class="card-body">
                <form action="{{ url_for('main.reset') }}" method="POST">
                    {{ form.csrf_token }}
                    <dl>
                      {{ render_field(form.email, placeholder="myemail@example.com") }}
                    </dl>
                    <button class="btn btn-sm btn-success" type="submit">Submit</button>
                  </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}   










 
