
<!doctype html>  
<html>
      {% from "includes/_formhelpers.html" import render_field %}

    <head>
                 
               
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
     integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
     integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
       integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
       crossorigin="anonymous"></script>

     <link href="../static/css/custom.css" rel="stylesheet">
     <link rel='shortcut icon' type='image/x-icon' href='/static/images/favicon.ico'/>
               
            
    </head>  
   <body> 
   <div  style="background:url('https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') ;width: 100%;height: 100%"> 
       
     <div style = "text-align: center;">     
      {% for message in form.name.errors %}  
         <div>{{ message }}</div>  
      {% endfor %}   
        
      {% for message in form.email.errors %}  
         <div>{{ message }}</div>  
      {% endfor %}  

      {% for message in form.address.errors %}  
         <div>{{ message }}</div>  
      {% endfor %} 

      {% for message in form.account_no.errors %}  
         <div>{{ message }}</div>  
      {% endfor %} 

      {% for message in form.destination_bank.errors %}  
         <div>{{ message }}</div>  
      {% endfor %} 

      {% for message in form.username.errors %}  
         <div>{{ message }}</div>  
      {% endfor %} 
      
      {% for message in form.password_hash.errors %}  
         <div>{{ message }}</div>  
      {% endfor %} 
      
      <form action = "/registerbureau" method = "POST" autocomplete="off"> 
        <fieldset>
        {{ form.hidden_tag() }}  
              
      <div class="card" style="width: 40%; margin-top:7%; background-color: rgba(255, 255, 255, 0.377); margin-left: 30%">  
          <div class="card-header text-center; margin:20px">
           <h2 style=" padding:25px">Registration Page</h2>

          </div>
          <div class="card-body" style="padding: 20px;font-size: 20px">

            <div class="form-group">
               
            {{ render_field(form.name, class_="form-control") }} 
            </div>
            <div class="form-group">
           {{ render_field(form.address, class_="form-control") }}  
         </div>
         <div class="form-group">
           {{ render_field(form.email, class_="form-control") }} 
         </div>
         <div class="form-group">
          {{ render_field(form.account_no, class_="form-control") }} 
         </div>
         <div class="form-group">
           {{ render_field(form.destination_bank, class_="form-control") }} 
         </div>
         <div class="form-group">
           {{ render_field(form.username, class_="form-control") }} 
         </div>
         <div class="form-group">
           {{ render_field(form.password_hash, class_="form-control") }} 
         </div>
         <div class="form-group">

           
         </div>
         
           <br>
           <a href="#0" class="col text-center btn info">{{ form.submit }} </a>
        </div>
        <br> 
        <div class="text-center add_top_10">Already have an account? <bold>login to Bureau De Change</bold> <strong><a href="login">Sign in!</a></strong></div> 
        <p>
           <div style = "color: rgb(255, 0, 0);">
            <ol>
                <li>
                    Usernames must be less than 20 characters
                </li>

                <li>
                    Passwords must contain the following:
                    <ul>
                        <li> Minimum of 8 characters.</li>
                        <li> Contain a number.</li>
                        <li> Contain upper case character.</li>
                        <li> Contain lower case character.</li>
                        <li> Contain special character.</li>
                    </ul>
                </li>

            </ol>
            </p>
              
         </fieldset>  
      </form>  
   </div>
   </div>
   <!-- COMMON SCRIPTS -->
   <script src="/static/landing/js/jquery-2.2.4.min.js"></script>
   <script src="/static/landing/js/common_scripts.js"></script>
   <script src="/static/landing/js/main.js"></script>
  <script src="/static/landing/assets/validate.js"></script>
  
  <!-- SPECIFIC SCRIPTS -->
  <script src="/static/landing/js/pw_strenght.js"></script>
</div>>
</body>  
</html>  
           