{% extends "layout1.html" %}

{% block pagestyles %}
  <link href="{{ url_for('static', filename='dist/css/account.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
  <div class="formwrapper">
    <form action="{{ url_for('main.confirm_email', token=token) }}" method="POST">
        {{ form.csrf_token }}
      {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
      {% endfor %}
      <h3><strong>Reset Password:</strong></h3>
      <div class="password" style="color: rgb(10, 10, 10)">
         {{ form.password.label }}
         {{ form.password }}
         {% if form.password.errors %}
           <ul class="errors">
             {% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}
           </ul>
         {% endif %}
      </div>
      <div class="confirm" style="color: rgb(10, 10, 10)">
        {{ form.confirm.label }}
        {{ form.confirm }}
        {% if form.confirm.errors %}
          <ul class="errors">
            {% for error in form.confirm.errors %}<li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </div>
      {{ form.submit }}
      
    </form>
  </div>
{% endblock %}














