{% extends "layout1.html" %}

{% block pagestyles %}
    <link href="{{ url_for('static', filename='dist/css/account.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
  <div class="formwrapper">
      
      <form action = "/signup" method = "POST"> 
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
           <strong style="color: red"> {{ message }} </strong>
        </div>
      {% endfor %}
      <h2 class="text-center">Sign-Up</h2>
        <fieldset>
        {{ form.hidden_tag() }}  
              
        <div style = "font-size:20px;" font-weight:bold; margin-left:130px;></div>  
             
           <div class="name">
                {{ form.name.label }}
              {{ form.name(placeholder='IAS') }}
              {% if form.name.errors %}
                <ul class="errors">
                  {% for error in form.name.errors %}<li><strong style="color: red">{{ error }}</strong></li>{% endfor %}
                </ul>
              {% endif %}
            </div>
          
           <div class="address">
              {{ form.address.label }}
              {{ form.address(class_="form-control") }}
              {% if form.address.errors %}
                <ul class="errors">
                  {% for error in form.address.errors %}<li><strong style="color: red">{{ error }}</strong></li>{% endfor %}
                </ul>
              {% endif %}
            </div>
            <div class="email">
                {{ form.email.label }}
                {{ form.email(placeholder='myemail@example.com') }}
                {% if form.email.errors %}
                  <ul class="errors">
                    {% for error in form.email.errors %}<li><strong style="color: red">{{ error }}</strong></li>{% endfor %}
                  </ul>
                {% endif %}
              </div>

              <div class="account_no">
                  {{ form.account_no.label }}
                  {{ form.account_no }}
                  {% if form.account_no.errors %}
                    <ul class="errors">
                      {% for error in form.account_no.errors %}<li><strong style="color: red">{{ error }}</strong></li>{% endfor %}
                    </ul>
                  {% endif %}
                </div>  

                <div class="destination_bank">
                    {{ form.destination_bank.label }}
                    {{ form.destination_bank(class_="form-control") }}
                    {% if form.destination_bank.errors %}
                      <ul class="errors">
                        {% for error in form.destination_bank.errors %}<li><strong style="color: red">{{ error }}</strong></li>{% endfor %}
                      </ul>
                    {% endif %}
                  </div>  
            
                  <div class="username">
                      {{ form.username.label }}
                      {{ form.username }}
                      {% if form.username.errors %}
                        <ul class="errors">
                          {% for error in form.username.errors %}<li><strong style="color: red">{{ error }}</strong></li>{% endfor %}
                        </ul>
                      {% endif %}
                    </div>  
          
                    <div class="password_hash">
                        {{ form.password_hash.label }}
                        {{ form.password_hash }}
                        {% if form.password_hash.errors %}
                          <ul class="errors">
                            {% for error in form.password_hash.errors %}<li><strong style="color: red">{{ error }}</strong></li>{% endfor %}
                          </ul>
                        {% endif %}
                      </div>  

                      <div class="confirm">
                          {{ form.confirm.label }}
                          {{ form.confirm }}
                          {% if form.confirm.errors %}
                            <ul class="errors">
                              {% for error in form.confirm.errors %}<li><strong style="color: red">{{ error }}</strong></li>{% endfor %}
                            </ul>
                          {% endif %}
                        </div>  
          
              
                         {{ form.submit }} <br> 
                         <div class="loginsignup">
                            <span>Already have an account? <a href="{{ url_for('auth.login_page') }}">Log in.</a><span>
                          </div>
        </div>  
              
         </fieldset>  
      </form> 
    
  </div>
{% endblock %}



