{% extends "dashboard/base.html" %}

<html>
{% block body %}

<head>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<title>Statistics</title>
</head>

<body>

    <div class="card" style= "background:#402d57e0">
      <div class="card-body">
        <div class="card-title">
          Filter By Bureau
        </div>
                <div class="form-group">
                    <form action = "#" method = "POST"> 
                            <fieldset>
                            {{ form.hidden_tag() }}  
                                  
                    
                            <div style = "font-size:20px;" font-weight:bold; margin-left:130px;>
                              <br>  
                              {{ form.csrf_token }}<br>
                              {{ form.opts }}
                              <br> 
                               {{ form.bureau_name.label }}<br>  
                               {{ form.bureau_name }} 
                               <br> 
                               {{ form.currency_a.label }}<br>  
                               {{ form.currency_a }}  
                               <br>
                               {{form.currency_b.label}}<br>
                               {{form.currency_b}}
                               <br>
                               {{ form.submit }}  
                            </div>  
                                  
                             </fieldset>  
                          </form>
                  </div>        
                </div>
              </div>            
            </div>


<canvas id="myChart"></canvas>

<input type="hidden" id="data" value="{{data}}"/>
</body>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var data2 = document.getElementById('data').value
 
 console.log(typeof(data2))
 data2 = JSON.parse(data2)
 var my_labels = data2["days"]
 delete data2.days
 dataset = []
 for (query in data2){
 var color = "#"+((1<<24)*Math.random()|0).toString(16);
	data = {
        label: query,
        data: data2[query],
        backgroundColor: color,
        borderColor: color,
        fill: false,
        lineTension: 0,
        radius: 5
      }
	 dataset.push(data)
 }
 var data = {
    labels: my_labels,
    datasets: dataset
  };

  //options
  var options = {
    responsive: true,
    title: {
      display: true,
      position: "top",
      text: "Bureau Rates",
      fontSize: 18,
      fontColor: "#FFFFFF"
    },
    legend: {
      display: true,
      position: "right",
      labels: {
        fontColor: "#FFFFFF",
        fontSize: 16
      }
    }
  };

  //create Chart class object
  var chart = new Chart(ctx, {
    type: "line",
    data: data,
    options: options
  });
</script>

<script>
    $(function(){
      // bind change event to select
      $('#channel_select').on('change', function () {
          var url = $(this).val(); // get selected value
          if (url) { // require a URL
              window.location = url; // redirect
          }
          return false;
      });
    });
</script>

{% endblock %}   

</html>