{% extends "dashboard/base.html" %}

{% block body %}
<div class="content">
    <div class="container-fluid">
     {% if user %}
      <div class="row">
        <div class="col-md-8">
          <div class="card" style="height:100%;background-color:rgba(255, 255, 255, 0.753)">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Profile</h4>
              <p class="card-category"></p>
            </div>
            <div class="card-body">
              <form action = "/profile" method = "POST">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating" style="color:black">Company Name</label>
                      <input name="name" type="text" value="{{user.name}}" class="form-control" style="color:rgba(19, 19, 230, 0.952)">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating" style="color:black">Address</label>
                      <input name="address" type="text" value="{{user.address}}" class="form-control" style="color:blue">
                    </div>
                  </div>
                 
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                            <div class="form-group">
                                  <label class="bmd-label-floating"style="color:black">Email address</label>
                                  <input name="email" type="email" value="{{user.email}}" class="form-control"style="color:blue">
                            </div>
                    </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating"style="color:black">Account Number</label>
                      <input name="account_no" type="text" value="{{user.account_no}}" class="form-control"style="color:blue">
                    </div>
                  </div>
                  
                </div>
                <br>
                <div class="row">
                  <div class="col-md-6">
                        <div class="form-group">
                                  <label class="bmd-label-floating"style="color:black">Destination Bank</label>
                                  <input name="destination_bank" type="text" value="{{user.destination_bank}}" class="form-control"style="color:blue">
                         </div>
                    </div>
                    
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating"style="color:black">Username</label>
                      <input name="username" type="text" value="{{user.username}}" class="form-control"style="color:blue">
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating"style="color:black">Phone Number</label>
                      <input name="phone_number" type="text" value="+263785 890 999" class="form-control"style="color:blue">
                    </div>
                  </div>
                  
                </div>
               
                <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile">
            <div class="card-avatar">
             
            </div>
            <div class="card-body" style="height:100%;background-color:rgba(255, 255, 255, 0.753)">
              <h6 class="card-category fa fa-user" style="color:black">  Bureau</h6>
              
              <p class="card-description">
               
              </p>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                      <p><em>Want to reset your password? </em><a href="/reset-password"><button class="btn btn-primary pull-right"> Reset!!</button></a></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                      <p><em>Want to disable your account? </em><a href="/delete"><button class="btn btn-primary pull-right"> Disable Account!!</button></a></p>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}      








